package com.hpe.adm.nga.sdk.model;

import javax.annotation.Generated;

/**
 * ${name} entity
 */
@Generated("sdk-generate-entity-models-maven-plugin")
public interface ${interfaceName} extends ${superInterfaceName} {}
